// frontend/src/components/List.scss
.list-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.list-header {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px 8px 0 0;

  input {
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
}

.cards-list {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 8px 0;
  padding: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }

  .card-header {
    background-color: #ff6666; // Color rojo como ejemplo
    border-radius: 8px 8px 0 0;
    padding: 8px;
    h3 {
      margin: 0;
      color: #fff;
    }
  }

  .card-content {
    p {
      margin: 8px 0;
    }
  }

  button {
    background-color: #cc0000; // Botón rojo como ejemplo
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #990000;
    }
  }
}

.add-card {
  text-align: center;
  margin-top: 10px;

  button {
    background-color: #009900; // Botón verde como ejemplo
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #006600;
    }
  }
}
